* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100dsvw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80svh;
  aspect-ratio: 9 / 16;
  background: black;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.display {
  width: 100%;
  height: 25%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  /* background: blue; */
  align-items: end;
  font-size: 3.3rem;
  font-weight: 300;
  flex: 0 0 auto;
  color: rgb(244, 238, 238);
}

.btns {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.5rem;
  aspect-ratio: 4 / 5;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* .left {
  background: yellow;
}

.right {
  background: orange;
} */

.row {
  display: flex;
  justify-content: center;
  /* background: purple; */
  width: 100%;
  flex: 1;
  gap: 0.5rem;
}

.btn {
  height: 100%;
  flex: 1;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 100%;
  border: none;
  aspect-ratio: 1 / 1;
  padding: auto auto;
}

.mini-op {
  font-size: 1.5rem;
}
.btn-zero {
  aspect-ratio: auto;
  border-radius: 50px;
  text-align: left;
  padding-left: 1.5rem;
}

.btn-extra {
  background: hsl(0 0% 65%);
}

.btn-extra:hover {
  background: hsl(0 0% 85%);
}

.btn-op {
  background: hsl(34 88% 59%);
  color: #ffffff;
}

.btn-op:hover {
  background: hsl(33 81% 77%);
}

.btn-grey {
  background: hsl(34 0% 20%);
  color: #ffffff;
}

.btn-grey:hover {
  background: hsl(0 0% 45%);
}
